<aside>
  <section>
    <p>Popular Communities</p>

    <ul>
      @for (community of visibleCommunities(); track community.display_name) {
        <li>
          <a [routerLink]="getCommunityHref(community.display_name)">
            <span class="avatar">{{ getCommunityInitials(community.display_name) }}</span>
            <span class="description">
              <span class="name">{{ community.display_name_prefixed }}</span>
              <span class="members">{{ getMembersLabel(community.subscribers) }}</span>
            </span>
          </a>
        </li>
      }
    </ul>

    @if (canToggle()) {
      @if (!isExpanded()) {
        <button type="button" (click)="showAll()">See more</button>
      } @else {
        <button type="button" (click)="showLess()">Show less</button>
      }
    }
  </section>
</aside>
